body{
margin:0;
font-family:Poppins,sans-serif;
background:linear-gradient(135deg,#f5faff,#eaf6ff);
text-align:center;
transition:.4s;
}

.container{
padding-top:60px;
}

h1{
font-size:32px;
color:#333;
}

.buttons button{
padding:12px 22px;
margin:10px;
border:none;
border-radius:25px;
background:#4da6ff;
color:white;
font-size:15px;
cursor:pointer;
transition:.3s;
}

.buttons button:hover{
transform:scale(1.07);
background:#1a8cff;
}

.hidden{display:none;}

.analyzer-box{
position:relative;
width:320px;
height:120px;
margin:20px auto;
background:white;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
overflow:hidden;
}

#liveWave{
width:100%;
height:100%;
}

.scan-line{
position:absolute;
width:2px;
height:100%;
background:#ff6cab;
animation:scan 1.2s linear infinite;
}

@keyframes scan{
0%{left:0;}
100%{left:100%;}
}

.ai-text{
font-weight:600;
color:#555;
animation:pulse 1s infinite alternate;
}

@keyframes pulse{
from{opacity:.4;}
to{opacity:1;}
}

#result{
margin-top:30px;
background:white;
padding:25px;
width:320px;
margin-left:auto;
margin-right:auto;
border-radius:25px;
box-shadow:0 12px 30px rgba(0,0,0,.12);
animation:pop .4s;
}

@keyframes pop{
from{transform:scale(.8);}
to{transform:scale(1);}
}

#tipsBox{
margin-top:15px;
text-align:left;
}

#tipsBox h3{
margin-bottom:8px;
}

#tipsBox li{
margin-bottom:6px;
}

.bg-toys{
position:fixed;
top:10px;
width:100%;
opacity:.3;
font-size:20px;
animation:move 12s linear infinite;
}

@keyframes move{
0%{transform:translateX(-100%);}
100%{transform:translateX(100%);}
}