<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Baby Cry Analyzer</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h1>👶 Baby Cry Analyzer</h1>
<p>Upload or Record baby's cry 💙</p>

<div class="buttons">
<button id="uploadBtn">📁 Upload Audio</button>
<button id="recordBtn">🎤 Record</button>
<input type="file" id="fileInput" accept="audio/*" hidden>
</div>

<audio id="player" controls class="hidden"></audio>

<div id="result" class="hidden">
<h2 id="status"></h2>
<p>Confidence: <span id="conf"></span></p>
<p id="hint"></p>
<p id="reliability"></p>
</div>

</div>

<script>

const uploadBtn = document.getElementById("uploadBtn");
const recordBtn = document.getElementById("recordBtn");
const fileInput = document.getElementById("fileInput");
const player = document.getElementById("player");
const result = document.getElementById("result");
const status = document.getElementById("status");
const conf = document.getElementById("conf");

let mediaRecorder;
let audioChunks = [];

uploadBtn.onclick = () => fileInput.click();

fileInput.onchange = () => {
    if (fileInput.files.length) {
        sendAudio(fileInput.files[0]);
    }
};

recordBtn.onclick = async () => {
    if (!mediaRecorder || mediaRecorder.state === "inactive") {

        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
        mediaRecorder = new MediaRecorder(stream);

        mediaRecorder.start();
        recordBtn.innerText = "⏹ Stop";

        audioChunks = [];

        mediaRecorder.ondataavailable = event => {
            audioChunks.push(event.data);
        };

        mediaRecorder.onstop = () => {
            const audioBlob = new Blob(audioChunks, { type: "audio/webm" });
            sendAudio(audioBlob);
        };

    } else {
        mediaRecorder.stop();
        recordBtn.innerText = "🎤 Record";
    }
};

function sendAudio(file) {

    const fd = new FormData();
    fd.append("file", file);

    fetch("/predict", { method: "POST", body: fd })
    .then(r => r.json())
    .then(data => {

        result.classList.remove("hidden");

        if (data.error) {
            status.innerText = "Error";
            return;
        }

        status.innerText = data.prediction;
        conf.innerText = data.confidence;
        document.getElementById("hint").innerText = data.hint || "";
        document.getElementById("reliability").innerText = data.reliability || "";
    });
}

</script>

</body>
</html>